services:

  tsdproxy:
    image: almeidapaulopt/tsdproxy:1.4.7
    container_name: tsdproxy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /data/tdsproxy:/data
    environment:
      # Get AuthKey from your Tailscale account
      - TSDPROXY_AUTHKEY=tskey-auth-xxxxxxxxxxxxxxx
      # Address of docker server (access to example.com ports)
      - TSDPROXY_HOSTNAME=192.168.2.7
      - DOCKER_HOST=unix:///var/run/docker.sock
    restart: unless-stopped

  redis:
    container_name: redis
    image: redis:7.2.11-alpine
    volumes:
      - redis_data:/data
    healthcheck:
      test: redis-cli ping || exit 1
    restart: unless-stopped

volumes:
  redis_data:
